<div style="margin-bottom: 20px;">
    <!-- <h1 mat-dialog-title>
        {{'areyousureyouwanttodeletethis' | translate}} </h1> -->
    <h1 mat-dialog-title>
        هل انت متاكد من حذف هذا السجل! </h1>
</div>

<div mat-dialog-actions>
    <button style="margin-left: 5px; margin-right: 5px; background-color: red; border-color:transparent;"
        (click)="close()" class="btn btn-secondary">
        <span>No</span>
    </button>
    <button style="margin-left: 5px; margin-right: 5px; background-color: #68B44E; border-color:transparent;"
        (click)="Save()" class="btn btn-secondary">
        <span>Yes</span>
    </button>
</div>
 <!--n-->