  
  <form [formGroup]="form" (ngSubmit)="updateLocation()">

        <app-submit-btns
          [isSaveDisabled]="form.invalid"
          [showSelected]="false"
          (reset)="form.reset()">
        </app-submit-btns>
    
    
  <div class="card p-3">
    <div class="container">
       <div class="row">
            <div class="col-md-4">
            <label for="Name" class="mb-2 d-block">{{'Location Name' | translate}}</label>
            <input pInputText type="text" id="Name" formControlName="Name" class="w-100 mb-2"/>
            @if (isInvalid('Name')) {
            <p-message severity="error" class="text-danger" size="small" variant="simple">
                {{'Location Name is required' | translate}}
            </p-message>
            }
            </div>

            <div class="col-md-4">
            <label for="CompanyList" class="mb-2 d-block">{{'Company Name' | translate}}</label>

            <app-auto-complete
            class="w-100 mb-2"
                [data]="companyList"
                [displayField]="['Id', 'Name']"
                [searchFields]="['Id', 'Name']"
                [valueField]="'Id'"
                [lookupData]="companyList"
                formControlName="CompanyId"
                [readonly]="false"
                [validStyle]="isInvalid('CompanyId') ? 'ng-invalid' : ''">
            </app-auto-complete>

            @if (isInvalid('CompanyId')) {
                <p-message severity="error" class="text-danger" size="small" variant="simple">
                {{'Company is required' | translate}}
                </p-message>
            }
            </div> 
            
            <div class="col-md-4">
            <label for="CustomerList" class="mb-2 d-block">{{'Customer Name' | translate}}</label>

            <app-auto-complete
            class="w-100 mb-2"
                [data]="customerList"
                [displayField]="['Id', 'EnName', 'ArName']"
                [searchFields]="['Id', 'EnName', 'ArName']"
                [valueField]="'Id'"
                [lookupData]="customerList"
                formControlName="CustomerId"
                [readonly]="false"
                [validStyle]="isInvalid('CustomerId') ? 'ng-invalid' : ''">
            </app-auto-complete>

            @if (isInvalid('CustomerId')) {
                <p-message severity="error" class="text-danger" size="small" variant="simple">
                {{'Customer is required' | translate}}
                </p-message>
            }
            </div> 

    </div>
    </div>
  </div>
</form>