/* ============================
   RTL FIXES FOR METRONIC
   ============================ */

html[dir="rtl"] {
  /* Sidebar */
  #kt_app_sidebar {
    right: 0 !important;
    left: auto !important;
  }

  #kt_app_wrapper {
    margin-left: 0 !important;
    margin-right: var(--bs-app-sidebar-width, 265px) !important;
  }

   /* خلي الهيدر نفسه يمتد يمين */
  #kt_app_header {
    right: 0 !important;
    left: auto !important;
    width: calc(100% - var(--bs-app-sidebar-width, 265px)) !important;
    margin-right: var(--bs-app-sidebar-width, 265px) !important;
    margin-left: 0 !important;
  }

  /* عدل الكونتينر جوه الهيدر */
  #kt_app_header_container {
    padding-right: 30px !important;
    padding-left: 0 !important;
  }

  // /* Toolbar */
  // #kt_app_toolbar {
  //   right: 0 !important;
  //   left: auto !important;
  //   margin-left: 0 !important;
  //   margin-right: var(--bs-app-sidebar-width, 265px) !important;
  // }
}